In [11]:
import pandas as pd
import numpy as np

In [12]:
data = pd.read_csv('./Housing.csv')
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [13]:
filtered_data = data[['price', 'area', 'bedrooms', 'bathrooms']]

X = filtered_data[['area', 'bedrooms', 'bathrooms']].values
y = filtered_data['price'].values

X = np.hstack([np.ones((X.shape[0], 1)), X])

In [14]:
w = np.random.randn(X.shape[1])


def hypothesis(X, w):
    return np.dot(X, w)

In [15]:
def compute_loss(X, y, w):
    m = len(y)
    predictions = hypothesis(X, w)
    loss = (1/(2*m)) * np.sum((predictions - y)**2)
    return loss

In [16]:
def gradient_descent_step(X, y, w, learning_rate):
    m = len(y)
    predictions = hypothesis(X, w)
    gradient = (1/m) * np.dot(X.T, (predictions - y))
    w = w - learning_rate * gradient
    return w

In [17]:
learning_rate = 0.00000001
num_iterations = 1000
loss_history = []

for i in range(num_iterations):
    w = gradient_descent_step(X, y, w, learning_rate)
    loss = compute_loss(X, y, w)
    loss_history.append(loss)

final_loss = compute_loss(X, y, w)

print("Параметри, отримані за допомогою градієнтного спуску:", w)
print("Фінальна функція втрат:", final_loss)

Параметри, отримані за допомогою градієнтного спуску: [  3.93005343 855.70013074  15.63373944   6.54617264]
Фінальна функція втрат: 1673354336182.2947

In [18]:
w_analytical = np.linalg.inv(X.T @ X) @ X.T @ y
analytical_loss = compute_loss(X, y, w_analytical)

print("Параметри, отримані за допомогою аналітичного рішення:", w_analytical)
print("Функція втрат для аналітичного рішення:", analytical_loss)

Параметри, отримані за допомогою аналітичного рішення: [-1.73171608e+05  3.78762754e+02  4.06820034e+05  1.38604950e+06]
Функція втрат для аналітичного рішення: 895585024988.6597